$color-blue: #5191CD;
$color-teal:#50BFA4;
$color-navy:#31397E;
$color-sky:#9DDBF2;

$color-red: #ff1744;

$color-grey:#6D6E71;
$color-light:#EFF2F7;
$color-border:#dee2e6;
$color-white:#FFF;
$color-black:#222;

$ruler-base: 16px;
$ruler-sm: 8px;
$ruler-ty: 4px;
$ruler-lg: 24px;
$ruler-xl : 32px;

$break-small: 480px;
$break-medium: 768px;
$break-large: 991px;