.antelope-green {
    color: #4caf50 !important
}

.antelope-green-bg {
    background: #4caf50 !important
}

/*body {*/
/*    background: #fff !important;*/
/*    color: #333 !important;*/
/*}*/

.instagram-colors {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.material-red {
    color: #ef5350
}

.material-green {
    color: #66bb6a
}

.material-blue {
    color: #42a5f5
}

.material-amber {
    color: #ffca28
}

.material-gray {
    color: #bdbdbd
}

.material-purple {
    color: #ab47bc
}

.material-light-green {
    color: #d4e157
}

.gray-background{
    background: rgb(242, 242, 242);
}

