.home-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.home-flex-end {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: end !important;*/
/*}*/