body{
    margin-top: 100px !important;
}

.larger-button {
    height: 44px !important;
}

.home-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.multi-carousel .carousel-item {
    height: 100%;
}

.multi-carousel .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.multi-carousel .carousel-indicators {
    bottom: -10px;
}

.multi-carousel .carousel-control-prev {
    display: initial;
    position: relative;
    margin: 5%;
}

.multi-carousel .carousel-control-next {
    display: initial;
    position: relative;
    float: right;
}

.carousel-indicators img {
    width: 100%;
    max-width: 100%;
    height: 100px;
}

.thumbnailCarousels .carousel-indicators {
    background: black !important;
}

.thumbnailCarousels .carousel-indicators li {
    height: 100px;
}

.ant-tabs-top-bar {
    display: flex;
    justify-content: space-around;
}

.advanced-card {
    color: rgba(0, 0, 0, 0.87);
    width: 20%;
    border: 0;
    display: flex;
    position: relative;
    font-size: .875rem;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    margin-top: 30px;
    transition: all 300ms linear;
    border-radius: 6px;
    margin-bottom: 30px;
    flex-direction: column;
}

.advanced-card-title {
    border: 0;
    padding: 1rem 15px;
    border-radius: 3px;
    margin: -30px 15px 0;
}

.advanced-card-title-shadow {
    color: #fff;
    background: linear-gradient(60deg, #ffa726, #fb8c00);
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}

.advanced-card-body {
    flex: 1 1 auto;
    padding: 0.9375rem 1.875rem;
}

.nav-pills.nav-pills-icons .nav-item .nav-link {
    border-radius: 4px;
}

.nav-pills .nav-item .nav-link.active {
    color: #fff;
    background-color: #6a9086;
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px #6a908606;
}

.nav-pills .nav-item .nav-link {
    line-height: 24px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    min-width: 100px;
    text-align: center;
    background: transparent;
    border: 0;
    transition: all .3s;
    border-radius: 5px;
    padding: 10px 15px;
}

.nav-tabs-border {
    border-right: 2px solid whitesmoke
}

.navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar .navbar-brand img {
    height: 100px;
}

.chart-canvas canvas {
    background: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)
}

.mdbModal .modal-content {
    background: transparent !important;
    box-shadow: none;
}

.dotted-borders {
    border: 2px dotted yellow;
    padding: 20px
}

.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    column-width: 33%
}

.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}


.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

@media (max-width: 450px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        column-width: 100%;
    }
}

@media (min-width: 600px) {
    .navbar.scrolling-navbar.top-nav-collapse {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .top-nav-collapse .hide-when-scrolling {
        transition: color .6s ease, font-size .3s linear, display .1s linear .6s;
        display: none;
        color: white !important;
    }

    .top-nav-collapse {
        background: #212121d9;
    }

    .nav-texts>a,
    .nav-text-span {
        color: white !important;
    }


    @media only screen and (max-width: 768px) {
        .navbar {
            background-color: #212121;
        }
    }

}

.itinerary-card {
    height: 60vh;
    overflow-y: scroll;
}

.ant-form-item {
    margin-bottom: 0 !important;
}

.ant-slider-track {
    height: 6px;
    background-color: #6a9086;
    border-radius: 10px;
}

.ant-slider-handle {
    width: 20px;
    height: 20px;
    margin-top: -6px;
    margin-left: -7px;
    background-color: #6a9086;
    border-radius: 40%;
    border: 3px solid white;
    opacity: 1;
}

.ant-slider-handle:hover {
    background-color: #6a9086;

}

.login-form .input-group-text {
    background: white;
    border-right: 0 !important;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 3px 2px 3px 1px gainsboro;
    color: #adb5bd !important;
    padding: 0.625rem 0.75rem;
    font-size: 12px;
}

.login-form .form-control {
    border-left: 0;
    background: white;
    box-shadow: 3px 2px 3px 1px gainsboro;
    color: #adb5bd !important;
    padding: 0.625rem 0.75rem;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 700px;
        margin: 1.75rem auto;
        min-height: 80vh;
    }
}

.home-view {
    background-size: cover;
    background-position: center;
    max-height: 100vh !important;
    height: 100%
}

.non-home-view {
    position: relative;
    text-align: center;
    color: white;
    max-height: 50vh !important;
    height: 50vh;
    background-position: center;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

@media (min-width: 768px) {
    .home-view {
        overflow: visible;
        max-height: 100vh !important;
        height: 100%
    }
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}

.full-height,
.full-bg-img {
    height: 100%
}

.full-bg-image-not-home {
    max-height: 100vh;
    height: 100vh;
}

.premade-packages-view {
    height: 120px;
    width: 100%;
}

.carousel-images-size {
    height: 130px;
    width: 150px
}

.arrow {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid #6a9086;
    border-right: 5px solid #6a9086;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-10px, -10px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(10px, 10px);
    }
}

.home-nav-tabs .ant-tabs-nav .ant-tabs-tab {
    margin: 0 0 0 0;
    padding: 10px 5px !important;
}

.ant-slider:hover .ant-slider-track {
    background: #6a9086;
}

.ant-slider-handle.ant-tooltip-open {
    border-color: #6a9086;
}

.dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #6a9086;
}

.navbar .dropdown-menu a:hover {
    color: #fff;
}

.fix-height {
    height: 12.5rem;
}

.fix-height-middle {
    height: 14rem;
}

@media only screen and (min-width: 1440px) {
    .fix-height {
        height: 20rem;
    }

    .fix-height-middle {
        height: 21rem;
    }
}

.hoverable-card:hover {
    transform: scale(1.1);
}

.flex-start-end {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100%;
}

.carousel-container {
    position: relative;
    text-align: center;
    color: white;
}

.carousel-bottom-left {
    position: absolute;
    bottom: 0%;
    background: #b4c7c28c;
    padding: 5px;
}

/* Top right text */
.carousel-top-right {
    position: absolute;
    top: 0;
    padding: 5px;
    background: #ffe000bf;
    right: 16px;
}

.carousel-text-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.checkout-page-container {
    display: table;
    width: 100%;
}

;

.checkout-divs {
    display: table-cell;
    padding: 16px;
}