.page-header {
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.header-filter {
    position: relative;
}

.page-header {
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
}

/*.header-filter:before {*/
/*    background: rgba(0,0,0,.5);*/
/*}*/

.header-filter:after, .header-filter:before {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
}

.main-raised {
    margin: -60px 30px 0;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.main {
    background: #fff;
    position: relative;
    z-index: 3;
}

.profile {
    text-align: center;
}

.profile-img-raised {
    max-width: 120px;
    height: 100px;
    margin: 0 auto;
}

.profile-img {
    max-width: 10.5rem;
    width: 100%;
    margin: 0 auto;
}


.parallax-img-raised {
    box-shadow: 0 5px 15px -8px rgba(0,0,0,.24), 0 8px 10px -5px rgba(0,0,0,.2);
}


.profile .name {
    margin-top: -80px;
}



