
body {
    font-family: 'Comfortaa', cursive !important;
    }


.h1-lg{
    font-size: 4rem;
    color: white !important;
}

.h3-lg{
    font-size: 2rem;
    color: white !important;
    transition: font 1.5s ease
}


.ant-form-item-label > label {
    color: black;
    font-weight: 600;
}

.main-page-form .ant-form-item-label > label {
    color: white;
    font-weight: 600;
}

.ant-slider-step {
    background: #00c8518c
}

.footer-lists{
    padding: 6px;
    font-size: larger;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-700
{
    font-weight: 700;
}

.font-weight-300{
    font-weight: 300;
}

.dim-grey-text {
    color: #6c6c6c;
}

.dark-grey-text {
    color : #a1a1a1
}

.login-form ::-webkit-input-placeholder {
    color: peachpuff;
    font-size: 13px;
}

.icon-images {
    height: 40px;
    width: 40px;
}

.icon-images-lg {
    height: 60px;
    width: 60px;
}