h1, h2 {
    font-family: 'Poiret One', cursive !important;
    font-size: 250% !important;
    font-weight: bold;
}

h3, h4 ,h5 ,h6, p, span,a, body {
    font-family: 'Flamenco', cursive !important;
    font-size: 110% ;
    letter-spacing: 0.5px;
    font-weight: bolder;
}

.card-title{
    font-family: 'Flamenco', cursive !important;
    font-size: 150%;
    letter-spacing: 0.5px;
}

.h1-lg{
    font-size: 4rem;
    color: white !important;
}

.h3-lg{
    font-size: 2rem;
    color: white !important;
    transition: font 1.5s ease
}


.ant-form-item-label > label {
    color: black;
    font-weight: 600;
}

.main-page-form .ant-form-item-label > label {
    color: white;
    font-weight: 600;
}

.ant-slider-step {
    background: #00c8518c
}

.footer-lists{
    padding: 6px;
    font-size: larger;
}

.font-libre-franklin {
    font-family: 'Libre Franklin', sans-serif;
}

.font-lato {
    font-family: "Lato", sans-serif;
}

.main-text{
    font-family: 'Poiret One', cursive;
}

.font-Nunito{
    font-family: 'Nunito', sans-serif !important;
}

.font-adlanta-light {
    font-family: adlanta-light, sans-serif;
}

.font-adlanta {
    font-family: adlanta, sans-serif;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-700
{
    font-weight: 700;
}

.font-weight-300{
    font-weight: 300;
}

.dim-grey-text {
    color: #6c6c6c;
}

.dark-grey-text {
    color : #a1a1a1
}

.main-text {
    font-family: 'Poppins', sans-serif;
}

.secondary-text {
    font-family: 'Libre Franklin', sans-serif;
}


.login-form ::-webkit-input-placeholder {
    color: peachpuff;
    font-size: 13px;
}

.icon-images {
    height: 40px;
    width: 40px;
}

.icon-images-lg {
    height: 60px;
    width: 60px;
}